
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>@import url('https://fonts.googleapis.com/css?family=Risque');@import url('https://fonts.googleapis.com/css?family=Lobster');</style>
</head>
<body background = "https://thumbs.dreamstime.com/z/education-hero-header-image-mockup-tablet-pc-background-use-website-72186653.jpg">
<nav class = "navbar navbar-default">
    <div class = "container-fluid">
    <div class="navbar-header">
        <a href="/account/register" class = "navbar-brand">NOTTY</a>
    </div>

    <div>
        <ul class = "nav navbar-nav">
            <li class="active"><a href="/account/home">HOME </a></li>
            <li><a href = "/account/register">Register</a></li>
            <li><a href = "/account/login">Login</a></li>
        </ul>
    </div>
</div>
</nav>
<div class = "container-fluid" style="opacity: 5;">
    <h1 class = "text-center" style = "color: black; font-family: 'Risque', cursive;"><em><strong style="font-size: 50px; background-color:rgba(0,255,0,0.5)">Welcome To NOTTY</strong></em></h1>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-8" style = "background-color:rgba(255,255,255,0.5);">
<h1 class="text-center" style="font-size:55px;font-family: 'Lobster', cursive;">About:-</h1>
    <p class="text-center" style="font-size:20px;">It is a very simple app that helps you to keep your notes saved online on your account so that you can access them any where.This website hav been created by a noobie and will be updated soon to add some new features.</p>
    <h3 class="text-center"><strong>Hope you Enjoy this site!! Please share it!!</strong></h3>


</div>
    </div>
</body>
</html>